<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find throt_control_description)/xacro/robot.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_pub"/> -->
  <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_pub"/> -->

  <!-- <include file="$(find throt_control_description)/launch/rviz.launch"/> -->
</launch>
