<?xml version="1.0"?>
<launch>

  <!-- <node pkg="throttle_control" type="speed_loop.py" name="speed_loop" /> -->
  <node pkg="throttle_control" type="engine_feedback.py" name="engine_feedback"/>
  <!-- <node pkg="throttle_control" type="speed_raw.py" name="speed_raw" /> -->

  <!-- <node pkg="throttle_control" type="pid2.py" name="pid" output="screen"/> -->

  <node pkg="throttle_control" type="enco_feedback.py" name="encoder_feedback"/>

  <node pkg="throttle_control" type="encoder_motor_control.py" name="encoder_motor_control" output="screen" />
  <!-- <node pkg="throttle_control" type="float_convert.py" name="float_convert"/> -->

  <node pkg="pid" type="controller" name="speed_pid" >
     <param name="Kp" value="1.8" />  <!--1.8-->
     <param name="Ki" value="0.0" />  <!--0.7-->
     <param name="Kd" value="0.0" />  <!--0.05-->
     <param name="upper_limit" value="500" />
     <param name="lower_limit" value="0" />
     <param name="windup_limit" value="1000" />
     <param name="max_loop_frequency" value="60.0" />
     <param name="min_loop_frequency" value="60.0" />
     <remap from="state" to="feedback_val" />
   </node>

  <node pkg="rostopic" type="rostopic" name="Enabling_PID"
    args='pub /pid_enable std_msgs/Bool "data: true"' output="screen"/>

  <!-- <include file="$(find throttle_control)/launch/rosbag.launch"/> -->
</launch>
